body {
    color:white;
    background-color:black;
}

.oog {
    float:right;
    border-style:double;
    border-color:white;
    margin-right: 10px;
    margin-top:10px;
}

.para {
    font-size: 15px;
}

h1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
}

h1 {
    border-top:4px solid;
    border-bottom:4px solid;
    border-color:white;
    border-radius: 18px;
}



body {
    background-image: url("giphy.gif");
}