.navbar {
    font-family: fantasy;
    border-top:4px solid;
    border-left:4px double;
    border-right:4px double;
    border-bottom:4px solid;
    padding-top:7px;
    padding-bottom:7px;
}

.navbar a {
 border:1px double;
 display:inline-block;   
 list-style: none;
 color:white;
 padding:5px;
 border-radius: 15px;
 text-decoration: none;
    
}

.nevbar li {
    font-family: fantasy;
}


.navbar a:hover{
    background-color:white;
    color:black;
}